// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

::selection {
	background: $questBlack;
	color: $questWhite;
}

.hidden, .decoration {
		display: none !important;
	}
#pg-20-0, #pl-20 .panel-grid-cell .so-panel {
	margin-bottom: 0 !important;
}
// #pg-20-3, #pg-20-4 {
// 	margin-left: -15px !important;
// 	margin-right: -15px !important;
// }


.hero-image {
	background: $questBlack;

	h1 {
		font-weight: 500;
		text-transform: uppercase;
		max-width: 60%;
		letter-spacing: 2px;
	}
	h3 {
		color: $questWhite;
		font-weight: 400;
		font-size: 1.5rem !important;
		padding-top: 1.5rem;
	}
}
#pg-20-1 {
	background: $questRed;
	margin: 0 auto;
}
#heroSupport {
	text-align: center;
	color: $questWhite;

	img {
		max-height: 60px;
		width: auto;
		margin-bottom: 1rem;
	}
	.textwidget {
		font-family: $font__header;
		font-size: 1.1rem;
		font-weight: 400;
		line-height: 1.6rem;
	}
}
#aboutUs {
	h2 {
		@include headingUnderline($questRed);
	}
}

#pg-20-3 {
	p {
		line-height: 1.8rem;
	}
}
.blockquote-author p {
	margin-left: 3rem;
	font-family: $font__header;
	font-weight: 500;
}

#blackCTA {
	h3 {
		color: $questWhite;
		font-size: 2.2rem;
		line-height: 2.8rem;
		text-transform: uppercase;
		font-weight: 500;
		max-width: 750px;
		margin: 0 auto;
		letter-spacing: 2px;
		background-position: center center;
	}
	img {
		width: 40px;
		margin-bottom: 2rem;
	}
	a {
		margin-top: 1rem;
		@include button($questRed, rgba(172, 31, 35, 0.85));
	}
}

#learnMore {
	h2 {
		@include headingUnderline($questOrange);
	}
	h4 {
		max-width: 850px;
		margin: 0 auto;
		font-size: 1.6rem;
		line-height: 2.4rem;
		font-weight: 500;
	}
}
.red-list {
	p {
		color: $questRed;
		font-family: $font__header;
		font-weight: 400;
		font-size: 1.4rem;
		margin-bottom: 10px;
		// padding-bottom: 0;

	}
	ul {
		margin-left: 0;
		margin-top: 0;
		padding-left: 0;
		list-style: none;
		li {
			margin-bottom: 0.8rem;
			position: relative;
			margin-left: 1.6rem;
			line-height: 1.4rem;
			// max-width: 450px;
			&:before {
				font-family: $fontAwesome;
				content: '\f058';
				display: block;
				position: absolute;
				left: -1.5rem;
				color: $questRed;
				font-size: 1.1rem;
			}
		}
	}
}
.red-links {
	a {
		@include button($questRed, rgba(172, 31, 35, 0.85));
		padding: 0.5rem 3rem;
		font-size: 1rem;
		&:first-of-type {
			margin-right: 2rem;
		}
	}
}
#contact {
	h2 {
		@include headingUnderline($questBrown);
	}
	img {
		margin-top: 2rem;
	}
	form {
		p {
			margin: 0.4rem;
		}
		input, textarea {
			width: 100%;
			padding: 0.5rem;
			margin: 0;
			border: 2px solid #E4E4E4;
			border-radius: 3px;
		}
		input[type="submit"] {
			margin-top: 0.6rem;
			@include button($questRed, rgba(172, 31, 35, 0.85));
		}
	}
	.textwidget {
		a {
			color: $questGrey;
			font-family: $font__header;
			font-weight: 400;
			text-transform: uppercase;
			letter-spacing: 1px;
			&:first-of-type {
				margin-right: 1rem;
				&:after {
					content: '|';
					display: inline-block;
					position: absolute;
					margin-left: 0.5rem;
				}
			}
		}
	}
}

footer {
	background: $questBlack;
	color: $questWhite;
	font-family: $font__header;
	.site-info {
		max-width: 75rem;
		padding: 2rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.logo {
		// width: 30%;
		// float: left;
		p {
			font-size: 0.8rem;
			font-weight: 300;
			margin-top: 0.2rem;
			letter-spacing: 0.5px
		}
		img {
			max-width: 135px;
		}
	}
	.contact-info {
		text-transform: uppercase;
		font-size: 0.9rem;
		letter-spacing: 1px;
		p {
			margin: 0.4rem;
		}
	}
}

#storeLocatorHeader {
	h1 {
		@include headingUnderline($questRed);
		color: $questWhite;
	}
	img {
		width: 40px;
		margin-bottom: 2rem;
	}
}
.wpsl-search {
	background: $questWhite;
	border-bottom: 2px solid #f4f3f3;
	margin-bottom: 25px;
}

#wpsl-stores {
	font-size: 0.8rem;
	.wpsl-direction-wrap {
		font-weight: bold;
	}
}
#wpsl-search-wrap {
	form {
		.wpsl-dropdown {
			width: 200px;
		}
		label {
			font-family: $font__header;
			font-size: 0.9rem;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			color: $questRed;
		}
	}
}
input#wpsl-search-btn {
	width: 100%;
	margin-top: 0.5rem;
	padding: 1.38rem 4rem;
	font-family: $font__header;
	text-transform: uppercase !important;
	font-weight: bold;
	letter-spacing: 0.5px;
}

#wpsl-wrap #wpsl-result-list ul li:nth-child(even) {
	background: #f9f9f9;
}


#feedingGuidelinesHeader, #productInfoHeader {
	padding: 3rem;
	background: $questBlack;
	h1 {
		text-transform: uppercase;
		color: $questWhite;
		letter-spacing: 3px;
		text-align: center;
		max-width: 620px;
		margin: 0 auto;
		font-weight: 500;
	}
}
#productInfoHeader {
	background: #a3090c; /* Old browsers */
background: -moz-linear-gradient(left, #a3090c 0%, #ac1f23 50%, #a3090c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #a3090c 0%,#ac1f23 50%,#a3090c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #a3090c 0%,#ac1f23 50%,#a3090c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3090c', endColorstr='#a3090c',GradientType=1 ); /* IE6-9 */
}
table.tablepress {
	color: $questBlack;
	thead th {
		background-color: $questBlack;
		color: $questWhite;
		font-family: $font__header;
		font-weight: 500;
		letter-spacing: 1px;
		text-transform: uppercase;
		line-height: 1.3;
		font-size: 0.9rem;
		text-align: center;
	}
	tbody td {
		text-align: center;
		font-size: 0.9rem;
	}
}

.inner-page-titles {
	h2 {
		@include headingUnderline($questRed);
		max-width: 630px;
		margin: 0 auto;
	}
}
#pl-209 img {
	max-width: 150px;
	height: auto;
}
#pg-170-3, #pg-170-4 {
	background-color: $questRed;
	color: $questWhite;
}
#pg-170-3 {
	margin-bottom: 0 !important;
	.inner-page-titles h2:after {
		background-color: $questBlack;
	}
}
.nutrition-table h3 {
	font-family: $font__header;
	font-weight: 500;
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0.2rem auto;
}
.nutrition-table table.tablepress {
	transform: scale(1.0);
}
.nutrition-table table.tablepress tbody td {
	text-align: left;
	font-size: 0.9rem;
}
.nutrition-table table.tablepress thead th {
	text-align: left;
	font-size: 0.9rem;
	background: $questRed;
}
.nutrition-table table.tablepress tfoot th {
	background-color: $questBlack;
	color: $questWhite;
	font-family: $font__header;
	text-transform: uppercase;
	font-size: 0.9rem;
	letter-spacing: 1px;
}



@media screen and (min-width: 600px) and (max-width: 950px) {
	transform: scale(0.75);
}

#productInfoHero {
	padding-top: 3rem;
	padding-bottom: 4rem;
	h2 {
		font-weight: 500;
		letter-spacing: 3px;
		font-size: 36px;
		line-height: 1.3;
		color: $questRed;
		max-width: 600px;
		position: relative;
		text-transform: uppercase;
		&:after {
			content: '';
			display: block;
			height: 6px;
			width: 100px;
			background-color: $questBlack;
			margin: 1rem 0;
		}
	}
}
#productInfoCTA {
	padding-top: 5rem;
	padding-bottom: 5rem;
	color: $questWhite;
	font-family: $font__header;
	h2 {
		@include headingUnderline($questRed);
		max-width: 550px;
		margin: auto;
	}
	h4 {
		letter-spacing: 0.5px;
		font-size: 1.4rem;
		font-weight: 500;
	}
	a {
		@include button($questRed, rgba(172, 31, 35, 0.85));
	}
}




@media screen and (min-width: 0px) and (max-width: 800px) {

	.hero-image {
		h1 {
			font-size: 1.8rem !important;
		}
		h1, h3 {
			max-width: 100%;
			margin: 0 auto !important;
			text-align: center;
		}

	}
	.so-widget-sow-hero-default-6d51e91fae8c .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper {
		padding: 8rem 1rem;
	}
	#learnMore {
		padding: 1rem !important;
		h4 {
			width: 90%;
			font-size: 1.2rem;
			line-height: 1.5rem;
		}
	}
	.blockquote-author {
		p {
			margin-left: 0;
		}
	}
	#blackCTA {
		h3 {
			font-size: 1.5rem;
			line-height: 2.2rem;
			max-width: 80%;
			margin: 0 auto;
		}
		a {
			font-size: 1rem;
			padding: 0.5rem 4rem;
		}
	}
	.red-links {
		a {
			text-align: center;
			display: block;
			width: 100%;
			margin: 0 auto;
			padding: 0.5rem 0.2rem;
		}
	}

	footer {
		.site-info {
			display: block;
			text-align: center;
		}
	}
}