$questBlack: #333333;
$questWhite: #FFF;
$questOffwhite: #FAFAFA;
$questGrey: #AFAFAF;
$questRed: #AC1F23;
$questBrown: #8B572A;
$questOrange: #F6A623;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $questRed;
$color__link-visited: $questRed;
$color__link-hover: $questBlack;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

