$size__site-main: 100%;
$size__site-sidebar: 25%;
header, .row {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 2rem;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	header, .row {
		padding: 0 0.8rem;
	}
}
