$size__site-main: 100%;
$size__site-sidebar: 25%;
header, .row {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 2rem;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
	header, .row {
		padding: 0 0.8rem;
	}
	#pg-20-0 .panel-grid-cell, #pg-20-1 .panel-grid-cell, #pg-20-2 .panel-grid-cell, #pg-20-5 .panel-grid-cell, #pg-20-6 .panel-grid-cell, #pg-20-7 .panel-grid-cell {
		padding-left: 0;
		padding-right: 0;
	}
}
